---
layout: base
title: Leistungen
menu_item: 1
leistungen:
   -
      title: Design
      image: design.svg
      text: Für uns bedeutet Design auch bei Websites noch echte Handarbeit. Wir liefern ihnen ein Produkt, das bis in den Quellcode hinein sauber, modern und ansprechend gefertigt wurde. Dabei nehmen wir uns Zeit für Ihre Wünsche und Vorstellungen und haben gleichzeitig stets die neusten Trends im Blick!
      tags:
         - Webdesign
         - Responsive
         - User Interfaces
         - User Experience
         - Prototyping
   -
      title: Content Management
      image: content-management-2.svg
      text: Eine Website von uns ist auch immer einfach editier- und anpassbar. Im Laufe der Zeit haben wir schon mit zahlreichen Content Management Systemen gearbeitet. Dazu gehören Contao, Joomla oder WordPress. Das CMS unserer Wahl ist allerdings das großartige [Kirby](http://getkirby.com/) CMS, welches individuell auf unsere Kunden zugeschnitten werden kann und mit dem wir schon die unterschiedlichsten Webauftritte realisiert haben!
      tags:
         - CMS
         - Kirby
         - Template
         - Customizing
         - Benutzerfreundlich
         - Individuell
   -
      title: Webentwicklung
      image: webentwicklung.svg
      text: Wir bieten Ihnen Kompetenz für Webentwicklung in JavaScript, CoffeeScript, PHP oder Ruby. Dabei haben wir Erfahrung mit verschiedensten Frameworks, wie AngularJS, jQuery oder Node und arbeiten mit zeitgemäßen Technologien wie Yeoman, Grunt und Bower. Seien es interaktive Elemente auf Ihrer Website, einzelne Module für Ihr Projekt oder eine ganze Webanwendung; auf uns können Sie zählen!
      tags:
         - Vue.js
         - AngularJS
         - Node.js
         - Ruby/Rails
         - Laravel
---
<section class="leistungen landing-section">
   <div class="pure-g-r centered intro">
      <div class="pure-u-1-3 intro__heading">
         <h1>{{ page.title }}</h1>
      </div>
      <div class="pure-u-2-3 intro__text">
         <p>Wir bieten Ihnen Ihre Website samt ausgiebiger Beratung im Komplettpaket oder aber professionelle Auftragsarbeit als Ihr starker Partner im Bereich Design und Webentwicklung.</p>
      </div>
   </div>
   <article class="centered leistungen">
   {% for leistung in page.leistungen %}
      <div class="leistungen__block pure-g-r">
         <div class="pure-u-1-3 leistungen__image">
            <img src="{{ leistung.image | prepend: '/assets/images/leistungen/' | prepend: site.url }}">
         </div>
         <div class="pure-u-2-3">
            <h2>{{ leistung.title }}</h2>
            <p>
               {{ leistung.text | markdownify}}
            </p>
            <ul class="tags cf">
               {% for tag in leistung.tags %}
                  <li>{{ tag }}</li>
               {% endfor %}
            </ul>
         </div>
   {% endfor %}
   </article>
</section>
